body {
    margin: 0; /* 去掉默认边距 */
    display: flex; /* 使用弹性布局 */
    justify-content: center; /* 水平居中内容 */
    align-items: stretch; /* 垂直拉伸以匹配容器高度 */
    height: 100vh; /* 设置视口高度为100% */
    overflow: hidden; /* 隐藏超出视口的内容 */
    flex-direction: column; /* 确保子元素垂直排列 */
}
#bg-container {
    position: fixed; /* 使背景视频固定在视口 */
    top: 0; /* 顶部对齐 */
    left: 0; /* 左侧对齐 */
    width: 100%; /* 背景容器宽度设置为100% */
    height: 100%; /* 背景容器高度设置为100% */
    z-index: -1; /* 背景层在内容层后面 */
}
#background-video {
    width: 100%; /* 视频宽度设置为100% */
    height: 100%; /* 视频高度设置为100% */
    object-fit: cover; /* 保持视频比例覆盖整个容器 */
}
#content {
    flex-grow: 1; /* 内容区域占据剩余的空间 */
    margin: 0 10px; /* 左右间距 */
    display: flex; /* 使用Flexbox布局 */
    flex-direction: column; /* 纵向排列内容 */
    align-items: center; /* 内容居中对齐 */
}
.content-box {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px; /* 圆角设置 */
    padding: 10px; /* 内容框体内间距 */
    text-align: center; /* 文本居中对齐 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 添加阴影效果 */
    margin: 20px; /* 上下间距 */
    width: 100%; /* 内容框宽度设置为100% */
    max-width: 67%; /* 内容框最大宽度设置为67% */
}
a {
    color: black; /* 链接文字颜色设置为黑色 */
    text-decoration: none; /* 去掉链接下划线 */
}
* {
    margin: 0;
    padding: 0;
}
.nav {
    height: 40px;  /* 导航栏高度 */
    backdrop-filter: blur(30px);
    background-color: rgba(255, 255, 255, 0.5);
    list-style: none;
    text-decoration: none;
}
.nav-list li {
    float: left;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 100px;
}
.nav-list{
    list-style-type: none; /* 去掉默认的列表标记 */
    width: 1200px; /* 设置宽度 */
    }
.nav-list a:hover {
    background: rgb(108, 199, 217, 0.5);
}
.nav-list a{
    display: block;
    color: black; /* 主文本颜色 */
    font-weight: bold; /* 增加字体的粗细 */
    text-shadow: 
        1px 1px 0 rgba(255, 255, 255, 0.5),  /* 右下方的白色阴影 */
        -1px -1px 0 rgba(255, 255, 255, 0.5), /* 左上方的白色阴影 */
        1px -1px 0 rgba(255, 255, 255, 0.5),  /* 右上方的白色阴影 */
        -1px 1px 0 rgba(255, 255, 255, 0.5),  /* 左下方的白色阴影 */
        0 1px 0 rgba(255, 255, 255, 0.5),     /* 正下方的白色阴影 */
        0 -1px 0 rgba(255, 255, 255, 0.5);    /* 正上方的白色阴影 */
}